---
import BoidsCanvas from "../BoidsCanvas.astro";
import MagnetsCanvas from "../MagnetsCanvas.astro";
---
<div>
  {('ontouchstart' in window || navigator.maxTouchPoints > 0) ? <MagnetsCanvas client:only /> : <BoidsCanvas client:only/>}
</div>
