---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Daniel Folio" lang="en">
  <div class="projects-container">copy and translate projects from br</div>
</Layout>

<style>
  .projects-container {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
  }

  .inner-container {
  }
</style>
