---
import Supercanvas from "../components/Supercanvas.astro";
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/Hero";
const lang = "br";
---

<Layout title="Daniel Folio" lang={lang}>
  <div class="w-full h-full">
    <Hero lang={lang} />
    <Supercanvas />
    <div
      class="absolute w-full h-full opacity-30 bg-blend-lighten select-none bg-gradient-to-br from-pallete4b to-black-80"
    >
    </div>
  </div>
</Layout>
