---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Folio" lang="br">
  <div class="projects-container">
    <div class="inner-container">Projects</div>
  </div>
</Layout>

<style>
  .projects-container {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
  }

  .inner-container {
  }
</style>
