---
import Layout from "../layouts/Layout.astro";
import { projectsPage } from "../../public/content-dictionary";
import { Projects } from "../components/Projects";
---

<Layout title="Daniel Folio" lang="br">
  <div class="bg-black min-h-full">
    <h1 class="text-white text-2xl px-4 py-2">
      {projectsPage.title.br}
    </h1>
    <Projects />
  </div>
</Layout>
