---
import Supercanvas from "./Supercanvas.astro";

export interface Props {}
---

<div class="hero-container">
  <div class="inner-container">
    <div class="myname">daniel</div>
    <div class="tags">
      <div class="know-more">conheça mais{""}</div>
      <div class="contact-me">fale comigo!{""}</div>
    </div>
  </div>
  <Supercanvas />
</div>

<style>
  .hero-container {
    width: 100%;
    height: 100%;
  }
  .inner-container {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5vw;
    font-family: Fira Code, monospace;
    padding: 2vw 3.5vw 3.5vw 3.5vw;
    background-color: var(--pallete4b);
    box-shadow: 2px 2px var(--pallete4c);
    z-index: 1;
  }
  @media (min-width: 1024px) {
    .inner-container {
      position: absolute;
      bottom: 5vw;
      right: 50%;
      transform: translateX(50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 1.5vw;
      font-family: Fira Code, monospace;
      padding: 3vw 4vw 3vw 4vw;
      background-color: var(--pallete4b);
      box-shadow: 2px 2px var(--pallete4c);
      z-index: 1;
    }
  }
  .myname {
    font-size: 2rem;
    color: var(--pallete4a);
  }
  .tags {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7rem;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--pallete4a);
  }
  .tags > * {
    border-bottom: 1px dashed var(--pallete4e);
    padding: 1.2vw;
  }
  .tags > *:hover {
    background-color: var(--pallete4a);
    color: var(--pallete4b);
  }
</style>
