---
import Supercanvas from "./Supercanvas.astro";

export interface Props {}
---

<div class="hero-container">
  <div class="inner-container">
    <div class="myname">daniel</div>
    <div class="tags">
      <div class="know-more">conheça mais{""}</div>
      <div class="contact-me">fale comigo!{""}</div>
    </div>
  </div>
  <Supercanvas />
</div>

<style>
  .hero-container {
    width: 100%;
    height: 100%;
  }
  .inner-container {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5vw;
    font-family: Fira Code, monospace;
    padding: 2vw 3.5vw 3.5vw 3.5vw;
    z-index: 1;
  }
  @media (max-width: 1024px) {
    .inner-container {
      position: absolute;
      bottom: 5vw;
      right: 50%;
      transform: translateX(50%);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 1.5vw;
      font-family: Fira Code, monospace;
      padding: 3vw 4vw 3vw 4vw;
      z-index: 1;
      width: 100%;
    }
  }
  .myname {
    font-size: 2rem;
    color: var(--pallete4b);
  }

  @media (max-width: 1024px) {
    .myname {
      font-size: 1.8rem;
      color: var(--pallete4b);
    }
  }

  .tags {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7rem;
    font-style: italic;
    color: var(--pallete4a);
  }
  .tags > * {
    font-size: 1.5rem;
    padding: 1.2vw;
    box-shadow: 2px 2px 0px 0.4rem var(--pallete4a);
    border-radius: 100px;
  }

  @media (max-width: 1024px) {
    .tags > * {
      font-size: 1.2rem;
      padding: 0.8rem;
      box-shadow: 2px 2px 0px 0.4rem var(--pallete4a);
      border-radius: 100px;
    }
  }

  .know-more {
    background-color: var(--pallete4c);
  }

  .contact-me {
    background-color: var(--pallete4b);
  }

  .tags > *:hover {
    background-color: var(--pallete4a);
    color: var(--pallete4b);
  }
</style>
