---
export interface Props {}
---

<div class="more-container">
  <div class="inner-container">More</div>
</div>

<style>
  .more-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .inner-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    border: 0.5vw dashed whitesmoke;
    color: whitesmoke;
    box-sizing: border-box;
  }
</style>
