---
import { Hero } from "../../components/Hero";
import BoidsCanvas from "../../components/BoidsCanvas.astro";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [{ params: { lang: "br" } }, { params: { lang: "en" } }];
}

let { lang } = Astro.params;

typeof lang === "string" ? null : (lang = "br");

const basePath = Astro.url.origin + "/astro-folio";
---

<Layout title="Daniel Folio" lang={lang}>
  <div class="w-full h-full">
    <Hero lang={lang} basePath={basePath} />
    <BoidsCanvas />
    <div class="background-vfx"></div>
  </div>
  <style>
    .background-vfx {
      position: fixed;
      top: 0;
      right:0;
      left: 0;
      bottom: 0;
      height: 100dvh;
      min-height: 100%;
      opacity: 0.3;
      background-blend-mode: lighten;
      user-select:none;
      background-image: linear-gradient(to top left, #c72e31, rgb(199 46 49 / 0));
      background-attachment: fixed;
      z-index:-1;
      user-select:none;
    }
    
    .background-vfx::after {
      content: '';
      position: fixed;
      top: 0;
      right:0;
      left: 0;
      bottom: 0;
      height: 100dvh;
      min-height: 100%;
      /*background: url("../../../public/animation-resources/static-noise.jpg") repeat center;*/
      background: url("https://i.ibb.co/FhfBXMD/static.jpg") repeat center;
      background-attachment: fixed;
      mix-blend-mode: overlay;
      opacity: 0.3;
      z-index: -1;
      user-select: none;
    }
  </style>
</Layout>
