---
export interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <a id="langBtn" href={lang == "br" ? "en" : "."}
      ><span class={lang == "br" ? "highlight" : "no-highlight"}>BR</span> | <span
        class={lang == "en" ? "highlight" : "no-highlight"}>EN</span
      >
    </a>
    <slot />
    <style is:global>
      * {
        overscroll-behavior: contain;
      }

      .highlight {
        opacity: 0.9;
      }

      .no-highlight {
        opacity: 0.3;
      }

      #langBtn {
        position: absolute;
        right: 0.3rem;
        top: 0;
        margin: 0;
        padding: 0.3rem;
        width: fit-content;
        color: white;
        font-family: Fira Code, monospace;
        font-size: 0.8rem;
        cursor: pointer;
        z-index: 999;
        text-decoration: none;
      }

      :root {
        --pallete1a: #283d3b;
        --pallete1aA: #283d3b10;
        --pallete1b: #197278;
        --pallete1bA: #19727840;
        --pallete1c: #eddd49;
        --pallete1d: #c44536;
        --pallete1e: #772e25;
        --pallete2a: #ba1200;
        --pallete2b: #031927;
        --pallete2c: #9dd1f1;
        --pallete2d: #508aa8;
        --pallete2e: #c8e0f4;
        --pallete3a: #09484a;
        --pallete3aA: #09484a90;
        --pallete3b: #301026;
        --pallete3c: #04bcc2;
        --pallete3d: #c2a817;
        --pallete3e: #4f4408;
        --pallete4a: #080a1f;
        --pallete4aA: #080a1f60;
        --pallete4b: #c72e31;
        --pallete4c: #4551c4;
        --pallete4cA: #4551c440;
        --pallete4d: #c4a431;
        --pallete4e: #232e26;
      }
      html {
        font-family: system-ui, sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
      }
      body {
        position: fixed;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
    <script is:global>
      const langBtn = document.getElementById("langBtn");
    </script>
  </body>
</html>
